<!-- Public health impact section -->
<div class="max-w-screen-xl px-4 py-6 mx-auto sm:py-12">
  <div class="max-w-3xl mx-auto text-center">
    <h2 class="text-3xl font-bold tracking-tight text-primary-800 dark:text-primary-200 sm:text-4xl">
      {{ .Site.Params.home.impact.title }}
    </h2>
    {{ range .Site.Params.home.impact.copy }}
    <p class="mt-6 text-lg text-gray-900 dark:text-white">
      {{ .text }}
    </p>
    {{ end }}
  </div>

  <div class="mt-8 text-center">
    <a
      href="{{ .Site.Params.forward }}"
      class="inline-flex items-center justify-center px-6 py-3 text-base font-semibold text-white bg-primary-600 border border-transparent rounded-md shadow hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-primary-500"
    >
      {{ .Site.Params.home.impact.cta }}
    </a>
  </div>
</div>