name: Test Render Static Site

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  build:
    name: Build Hugo Site
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '16' # Use Node.js 16 to ensure compatibility

      - name: Install dependencies
        run: npm install

      - name: Inject Chatwoot Secrets
        run: |
          sed -i "s|{chatwoot_url}|${{ secrets.CHATWOOT_URL }}|g" hugo.yaml
          sed -i "s|{chatwoot_token}|${{ secrets.CHATWOOT_TOKEN }}|g" hugo.yaml

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true # Ensure the extended version is used

      - name: Build the site
        run: npm run build
